fastapi
uvicorn
pydantic
pydantic-settings
groq
python-dotenv
sqlalchemy
alembic
psycopg2-binary
cloudinary
pytest
ruff
black
passlib[bcrypt]
pyjwt
asyncpg
pytest-asyncio
aiosqlite
qrcode
reportlab
pandas
openpyxl
python-multipart
email-validator